
@inject HttpClient _client
@attribute [Authorize]

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">
                <EditForm EditContext="editContext" OnValidSubmit="@OnValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label title="How much you swapping">Swap Quantity</label>
                        <div>
                            <InputNumber @bind-Value="swapdetails.SProduct_quantity" class="form-control" />
                            <ValidationMessage For="@(()=>swapdetails.SProduct_quantity)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label title="How much you want to get">Product Quantity</label>
                        <div>
                            <InputNumber @bind-Value="swapdetails.PProduct_quantity" class="form-control" />
                            <ValidationMessage For="@(()=>swapdetails.PProduct_quantity)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <div>
                            <InputSelect @bind-Value="swapdetails.SProduct_id" class="form-control">
                                @if (Products != null)
                                {
                                    <option value="" default="true" hidden>--Select--</option>
                                    foreach (var eachproduct in Products)
                                    {
                                        if (eachproduct.Username == s_Username)
                                        {

                                            if (eachproduct.P_category == product.S_Category)
                                            {
                                                <option value="@eachproduct.Id" default>@eachproduct.Name</option>
                                                suitable_products = true;
                                            }
                                        }
                                    }
                                    if (suitable_products == false)
                                    {

                                        <option value="">No suitable products</option>
                                    }
                                }
                            </InputSelect>
                            <ValidationMessage For="@(()=>swapdetails.SProduct_id)" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" disabled="@disable_button">
                        @ButtonText
                    </button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public Swap swapdetails { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public Product product { get; set; }

    [Parameter]
    public string s_Username { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    private List<Product> Products;
    public Boolean disable_button = true;
    Product sProduct = new Product();
    EditContext editContext;
    public Boolean suitable_products = false;

    protected async override Task OnInitializedAsync()
    {
        editContext = new EditContext(swapdetails);
        editContext.OnFieldChanged += EditContext_OnFieldChanged;
        Products = await _client.GetFromJsonAsync<List<Product>>($"{Endpoints.ProductsEndpoint}");
        swapdetails.SStatus = true;
        swapdetails.PStatus = false;
        swapdetails.Date = DateTime.Now;
        //swapdetails.S_username = s_Username;
        //swapdetails.P_username = product.Username;
        swapdetails.PProduct_id = product.Id;

    }
    private void EditContext_OnFieldChanged(object sender, FieldChangedEventArgs e)
    {
        //only enables button when a value is selected
        //improves user experience
        if (swapdetails.SProduct_id!=0)
        {
            disable_button = false;
        }
    }
    public bool DeleteDialogOpen { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }
}