@model IEnumerable<Parcell.Shared.Domain.Swap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SProduct_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PProduct_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SProduct_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PProduct_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
