@page "/add-products"
@inherits AddProductModalBase

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <h2>Add Products</h2>
            </div>
            <div class="card-body">
                @if (isCreationSuccess)
                {
                <div class="alert alert-success" role="alert">Registration successful</div>
                }

                <EditForm Model="@newproduct" OnValidSubmit="AddProduct">
                    <DataAnnotationsValidator />
                    <CustomFormValidator @ref="customFormValidator" />

                    <div class="form-group row">
                        <label class="control-label col-md-12">Product Name</label>
                        <div class="col">
                            <InputText class="form-control" @bind-Value="newproduct.ProductName" />
                            <ValidationMessage For="@(() => newproduct.ProductName)" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-12">Product Description</label>
                        <div class="col">
                            <InputText class="form-control" @bind-Value="newproduct.Description" />
                            <ValidationMessage For="@(() => newproduct.Description)" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-12">Stock</label>
                        <div class="col">
                            <InputNumber class="form-control" @bind-Value="newproduct.Stock" />
                            <ValidationMessage For="@(() => newproduct.Stock)" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-12">Price(no decimal)</label>
                        <div class="col">
                            <InputNumber class="form-control" @bind-Value="newproduct.Price" />
                            <ValidationMessage For="@(() => newproduct.Price)" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-12">Category</label>
                        <div class="col">
                            <InputSelect class="form-control" @bind-Value="newproduct.Category">
                                <option value="-- Select City --">-- Select Gender --</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </InputSelect>
                            <ValidationMessage For="@(() => newproduct.Category)" />
                        </div>
                    </div>

                    <div class="form-group" align="right">
                        <button type="submit" class="btn btn-success">Register</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>